input:invalid {
    border: 2px solid red;
}

.submits {
    background-color: inherit;
    font-size: 2.5em;
}

.submits:hover {
    background-color: rgba(0, 100, 0, 0.6);
    transition: ease-in-out 0.5s;
}

textarea {
    overflow: inherit;
}

.outer-circle {}

.circle {
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    -webkit-transition: transform 1s ease-out;
    -moz-transition: transform 1s ease-out;
    -ms-transition: transform 1s ease-out;
}

.circle:hover {
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
}

.bg {
    background-image: url('../../images/apple.jpeg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid blue;
}

.outline {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2em;
    color: white
}

.outline:hover {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 3em;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    z-index: 50;
    height: 6vh;
    width: 5vh;
}

.outer {
    position: relative;
    height: 300px;
    width: 300px;
}

.inner {
    position: absolute;
    top: 50%;
    bottom: 50%;
    height: 300px;
    width: 300px;
    z-index: 2;
}

#map {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    outline: none
    /* border: 2px solid black; */
    /*margin: 0 auto;*/
    /*background-color: grey;*/
}

#map2 {
    margin: 0 auto;
    width: 90%;
    height: 80%;
    border-radius: 30px;
    border: 2px solid black;
}

body {
    font-family: 'Athiti', sans-serif;
}

.aboutus {
    height: 8%;
    font-size: 3em;
    text-decoration: underline;
    text-shadow: 1px 1px 1px white, 0 0 25px blue, 0 0 5px green;
    text-align: center
}

.aboutus:hover {
    text-shadow: 2px 2px 2px yellow, 0 0 25px blue, 0 0 5px white;
}

dl {
    background: whitesmoke;
    border: 1px solid rgba(0, 0, 0, .2);
}

dt:hover {
    color: blue
}

dl,
dt,
dd {
    border-radius: 5px;
}

dt {
    /*background: #08071c;*/
    /*border-bottom: 1px solid #040412;*/
    border-top: 1px solid #262395;
    /*color: #137de9;*/
    cursor: pointer;
    font-size: 5vh;
    font-weight: bold;
    line-height: 2em;
    /*text-shadow: -1px -1px 0px #1169c3;*/
}

dt:first-child {
    border-top: 0;
}

dt:last-of-type {
    border-bottom: 0;
}

dd {
    margin-left: 0;
    padding: 1em 0;
}